@use './base/index' as b;
*, *::before, *::after{
    margin:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background-image:url(../../images/bg-intro-mobile.png);
    background-color:b.$bg_primary_red;
    color:white;
    
}
.sign_up_component{
    max-width:375px;
    margin:auto;
    padding:90px 1.5em;

    &_body{
        background:transparent;
    }
}

@media (min-width:768px) {
    body{
        background-image:url(../../images/bg-intro-desktop.png);

    }
    .sign_up_component{
        display:flex;
        align-items: center;
        gap:10px;
        padding-top:120px;
        max-width:1200px;

        &_body{
            width:80%;
        }
    }
}