@use '../../../sass/base/index' as b;
.container{
    background:b.$c_accent_blue;
    padding:1.3rem;
    border-radius:10px;
    text-align: center;
    box-shadow:0 5px 0 b.$c_neutral_darkblue;
    margin-bottom:1.5em;
    p{
        line-height: 1.5em;

        a{
            text-decoration:none;
            color:white;
            font-weight: 700;
        }
    }
}