.header{
    text-align: center;
    margin:0 auto 60px auto;

    h1{
        font-size:1.7em;
        line-height:1.4em;
        margin-bottom:1em;
        text-wrap: balance;
    }
    p{
        line-height:1.5em;
    }
}


@media (min-width:768px) {
    .header{
        text-align:start;
        width:100%;
        margin:0;
        h1{
            line-height: 1.2em;
            font-size:2.5em;
        }
    }
}

@media (min-width:1024px){
    h1{
        font-size:3em;
    }
}